.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 18px;
  color: white;
  text-align: center;
}

label {
  display: block;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  margin: 10px;
  text-align: left;
}

input {
  padding: 5px;
  display: block;
  margin: 10px;
  text-align: left;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 14px;
  width: 95%;
}

.btn {
  background-color: #019afe;
  border: 2px solid #019afe;
  cursor: pointer;
  border-radius: 25px;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  text-align: center;
  width: 100%;
  /*color: white;*/
}

.btn:hover {
  background-color: #048be3;
  border: 2px solid #048be3;
  color: white;
}

p {
  text-align: center;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 14px;
}